.wrapper{
    overflow-x: hidden;
    overflow-y: auto;
}
.navbox{
    width: 100%;
    height: auot;
    border-bottom: 1px solid white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 7px 15px;
    background-color: #FFFFFF;
}
.leftside{
   display: flex;
   padding-left: 15%;
}

.logo{
    padding-left: 50px;
    margin-top: 0px;
}
.img-width{
    width: auto;
    height : auto;
    max-height: 100%;
    max-width: 100%;
}
.user-profile-img {
    border-radius: 50%;
    max-width: 100%;
  }